@import '../../styles/constants.scss';
@import '../../styles/colors.scss';
@import '../../styles/common.scss';

.navbar__container {
    @include flex(space-between);
    height: $navbar-height;
    color: $white-common;
    background-color: $grey-navbar;
    box-shadow:
        rgb(37 42 49 / 16%) 0px 0px 2px 0px,
        rgb(37 42 49 / 12%) 0px 2px 4px 0px;
}

.navbar__container--info {
    @include flex(row, flex-start, center);
    width: 50%;

    .header__name {
        margin-left: 60px;
        font-size: 1.5em;
        font-weight: 200;
        letter-spacing: 0.1em;
    }

    .header__icons {
        text-align: center;
        margin-left: 105px;

        .icon__common:hover {
            cursor: pointer;
        }
    }
}

.navbar__container--menu {
    @include flex(row, flex-end, center);
    width: 50%;

    .menu__list {
        @include flex(row, flex-end, center);
        list-style-type: none;
        margin-right: 5px;

        &--item {
            padding: 3px 20px;
            text-decoration: none;
            color: $white-common;
            font-size: 0.8em;
            letter-spacing: 0.1em;
        }

        &--item:hover {
            cursor: pointer;
        }
    }
    .codewars--badge {
        margin-right: 60px;
    }
}
