@import '../../../styles/constants.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/common.scss';
@import '../../../styles/fonts.scss';

.about__container {
    // @include flex(row, center, center);
    // border: 1px solid black;
    margin-top: 70px;
    height: $aboutSection-height;
    padding: 0 60px;
    text-align: center;

    &--title {
        // border: 1px solid black;
        font-size: 1.8em;
        font-weight: 400;
    }

    &--menu {
        .content--menu {
            // border: 1px solid black;
            font-family: $montserrat;
        }

        .list--item {
            list-style: none;
            background: none;
            border: 1.4px solid transparent;
            margin: 10px;
            letter-spacing: 1px;
            font-family: $montserrat;
            font-weight: 300;
            font-size: 1em;
            padding: 0.7em 1.6em;
        }

        .list--item1 {
            margin: 0.02em 1.4em;
        }

        .list--item:hover {
            cursor: pointer;
        }

        .active {
            border: 1.4px solid #fad648;
        }

        .content--text {
            // border: 1px solid black;
            margin: 40px 300px;
            text-align: left;
        }

        .text__section {
            border: 1px solid black;
            display: flex;

            &--item {
                border: 1px solid black;
                padding: 0 20px;
                width: 50%;
            }

            .job--title {
                font-weight: 400;
                // letter-spacing: 0.15em;
            }
        }
    }
}
