@import '../../../styles/constants.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/common.scss';
@import '../../../styles/fonts.scss';

.about__container {
    margin-top: 70px;
    height: $aboutSection-height;
    padding: 0 50px;
    text-align: center;

    &--title {
        font-size: 1.8em;
        font-weight: 400;
    }

    &--menu {
        .content--menu {
            font-family: $montserrat;
        }

        .list--item {
            list-style-type: none;
            background: none;
            border: 1.4px solid transparent;
            margin: 10px;
            letter-spacing: 1px;
            font-family: $montserrat;
            font-weight: 300;
            font-size: 1em;
            padding: 0.7em 1.6em;
        }

        .list--item1 {
            margin: 0.02em 1.4em;
        }

        .list--item:hover {
            cursor: pointer;
        }

        .active {
            border: 1.4px solid $gold-borders;
        }

        .content--text {
            margin: 40px 300px;
            text-align: left;
        }

        .text__section {
            display: flex;
            margin-bottom: 50px;

            &--item {
                padding: 0 30px;
                width: 50%;
            }

            .company--Capgemini {
                border-right: 1.4px solid $gold-borders;
            }

            .position__info {
                display: flex;
                justify-content: left;
            }
            .title {
                font-size: 1.2em;
                font-weight: 400;
                margin-right: 30px;
            }

            .skills {
                font-weight: 400;
                margin-right: 0.8em;
            }

            .skills--item {
                list-style-type: none;
                margin-bottom: 10px;
            }

            .job--years {
                line-height: 200%;
            }

            &--education {
                list-style-type: none;

                li {
                    margin-bottom: 10px;
                }
                .education--title {
                    font-weight: 400;
                }

                .certificate--link {
                    text-decoration: none;
                    border-bottom: 1px solid $gold-borders;
                    margin-left: 10px;
                }

                .year {
                    margin-left: 15px;
                }
            }
        }
        .positions--older {
            font-size: 1.2em;
            font-weight: 400;
            margin-left: 30px;
            margin-right: 30px;
            text-decoration: none;
            border-bottom: 1px solid $gold-borders;
            color: $black-background;
        }
    }
}
