@import '../../../styles/constants.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/common.scss';
@import '../../../styles/fonts.scss';

.portfolio__container {
    padding-top: 60px;
    height: $portfolioSection-height;
    background-color: $grey-background;
    text-align: center;

    &--title {
        font-size: 1.8em;
        font-weight: 400;
    }

    &--projects {
        @include flex(row, left, center);
        margin: 0 60px;
        margin-top: 40px;

        .list--item {
            list-style: none;
            position: relative;
            top: -65px;
            padding: 10px 0;
            text-align: left;
        }
        .list--link {
            text-decoration: none;
            border-bottom: 1px solid $gold-borders;
        }

        .container--photo {
            position: relative;
            height: 550px;
            width: 800px;
            border-radius: 8px;
            background-image: url('../../../../public/images/donateYourThings.png');
            background-size: 100% 100%;
        }
    }
}
