$purple-text: #995ced;
$black-background: #131212;
$white-common: #fff;
// $grey-background: #e8e7e7;
$grey-background: #dddbdb;
$black-common: #000;
// $grey-navbar: #252323;
$grey-navbar: #3d3636;
// $grey-navbar: #494444;
